/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image: url(./lastofus.jpg);
  }
  
  header {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links {
    list-style-type: none;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #a8c5ff;
  }
  
  .hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
  }
  
  footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }
  
  /* Animations */
  .hero-content h1,
  .hero-content p {
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1s ease forwards;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  